name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      RUST_BACKTRACE: 1

    steps:
    - uses: actions/checkout@v2
    - uses: dtolnay/rust-toolchain@1.77.2
      with:
        components: rustfmt
    - name: Check formatting
      run: cargo fmt -- --check
    - name: Cargo cache
      uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}
        path: ~/.cargo/registry
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
